<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="GET_URL" value="https://0a112ada-ed43-4c3f-99c6-7ad1c29a4eea.mock.pstmn.io"/>
		<add key="GET_RESOURCE" value="/spacecrafts/1"/>
		<add key="POST_URL" value="https://0a112ada-ed43-4c3f-99c6-7ad1c29a4eea.mock.pstmn.io" />
		<add key="POST_RESOURCE" value="/spacecrafts/1"/>
		<add key="Overwrite" value="0"/>
		<add key="PeriodMilliseconds" value="3000"/>
		<add key="LOG_PATH" value=""/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>